In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('PUBG_Player_Statistics.csv')

In [3]:
df.head()

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
2,mercedes_benz,4454,3.60,0.00,4330.44,5,0,0.00,1,20.0,...,3935265.63,5589608.74,1871.89,3011.87,725.44,1766,210,2193,292977.07,1897
3,DORA,7729,14.00,50.00,13421.82,8,4,0.67,6,75.0,...,2738998.00,3796916.00,2154.62,5578.41,587.28,1214,142,1252,181106.90,1057
4,n2tstar,0,10.50,33.33,9841.04,6,2,0.40,5,83.3,...,2347295.00,3220260.00,2098.47,5642.54,546.10,1245,120,923,160029.80,1077

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87898 entries, 0 to 87897
Columns: 152 entries, player_name to squad_DBNOs
dtypes: float64(83), int64(68), object(1)
memory usage: 101.9+ MB

In [5]:
df.columns.values

array(['player_name', 'tracker_id', 'solo_KillDeathRatio',
       'solo_WinRatio', 'solo_TimeSurvived', 'solo_RoundsPlayed',
       'solo_Wins', 'solo_WinTop10Ratio', 'solo_Top10s',
       'solo_Top10Ratio', 'solo_Losses', 'solo_Rating', 'solo_BestRating',
       'solo_DamagePg', 'solo_HeadshotKillsPg', 'solo_HealsPg',
       'solo_KillsPg', 'solo_MoveDistancePg', 'solo_RevivesPg',
       'solo_RoadKillsPg', 'solo_TeamKillsPg', 'solo_TimeSurvivedPg',
       'solo_Top10sPg', 'solo_Kills', 'solo_Assists', 'solo_Suicides',
       'solo_TeamKills', 'solo_HeadshotKills', 'solo_HeadshotKillRatio',
       'solo_VehicleDestroys', 'solo_RoadKills', 'solo_DailyKills',
       'solo_WeeklyKills', 'solo_RoundMostKills', 'solo_MaxKillStreaks',
       'solo_WeaponAcquired', 'solo_Days', 'solo_LongestTimeSurvived',
       'solo_MostSurvivalTime', 'solo_AvgSurvivalTime', 'solo_WinPoints',
       'solo_WalkDistance', 'solo_RideDistance', 'solo_MoveDistance',
       'solo_AvgWalkDistance', 'solo_AvgRideDistance', 'solo_LongestKill',
       'solo_Heals', 'solo_Revives', 'solo_Boosts', 'solo_DamageDealt',
       'solo_DBNOs', 'duo_KillDeathRatio', 'duo_WinRatio',
       'duo_TimeSurvived', 'duo_RoundsPlayed', 'duo_Wins',
       'duo_WinTop10Ratio', 'duo_Top10s', 'duo_Top10Ratio', 'duo_Losses',
       'duo_Rating', 'duo_BestRating', 'duo_DamagePg',
       'duo_HeadshotKillsPg', 'duo_HealsPg', 'duo_KillsPg',
       'duo_MoveDistancePg', 'duo_RevivesPg', 'duo_RoadKillsPg',
       'duo_TeamKillsPg', 'duo_TimeSurvivedPg', 'duo_Top10sPg',
       'duo_Kills', 'duo_Assists', 'duo_Suicides', 'duo_TeamKills',
       'duo_HeadshotKills', 'duo_HeadshotKillRatio',
       'duo_VehicleDestroys', 'duo_RoadKills', 'duo_DailyKills',
       'duo_WeeklyKills', 'duo_RoundMostKills', 'duo_MaxKillStreaks',
       'duo_WeaponAcquired', 'duo_Days', 'duo_LongestTimeSurvived',
       'duo_MostSurvivalTime', 'duo_AvgSurvivalTime', 'duo_WinPoints',
       'duo_WalkDistance', 'duo_RideDistance', 'duo_MoveDistance',
       'duo_AvgWalkDistance', 'duo_AvgRideDistance', 'duo_LongestKill',
       'duo_Heals', 'duo_Revives', 'duo_Boosts', 'duo_DamageDealt',
       'duo_DBNOs', 'squad_KillDeathRatio', 'squad_WinRatio',
       'squad_TimeSurvived', 'squad_RoundsPlayed', 'squad_Wins',
       'squad_WinTop10Ratio', 'squad_Top10s', 'squad_Top10Ratio',
       'squad_Losses', 'squad_Rating', 'squad_BestRating',
       'squad_DamagePg', 'squad_HeadshotKillsPg', 'squad_HealsPg',
       'squad_KillsPg', 'squad_MoveDistancePg', 'squad_RevivesPg',
       'squad_RoadKillsPg', 'squad_TeamKillsPg', 'squad_TimeSurvivedPg',
       'squad_Top10sPg', 'squad_Kills', 'squad_Assists', 'squad_Suicides',
       'squad_TeamKills', 'squad_HeadshotKills',
       'squad_HeadshotKillRatio', 'squad_VehicleDestroys',
       'squad_RoadKills', 'squad_DailyKills', 'squad_WeeklyKills',
       'squad_RoundMostKills', 'squad_MaxKillStreaks',
       'squad_WeaponAcquired', 'squad_Days', 'squad_LongestTimeSurvived',
       'squad_MostSurvivalTime', 'squad_AvgSurvivalTime',
       'squad_WinPoints', 'squad_WalkDistance', 'squad_RideDistance',
       'squad_MoveDistance', 'squad_AvgWalkDistance',
       'squad_AvgRideDistance', 'squad_LongestKill', 'squad_Heals',
       'squad_Revives', 'squad_Boosts', 'squad_DamageDealt',
       'squad_DBNOs'], dtype=object)

In [6]:
df[df['solo_WinRatio']>2].head()

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
3,DORA,7729,14.00,50.00,13421.82,8,4,0.67,6,75.0,...,2738998.00,3796916.00,2154.62,5578.41,587.28,1214,142,1252,181106.90,1057
4,n2tstar,0,10.50,33.33,9841.04,6,2,0.40,5,83.3,...,2347295.00,3220260.00,2098.47,5642.54,546.10,1245,120,923,160029.80,1077
5,coldoxygen,33313,5.73,31.25,22003.22,16,5,0.50,10,62.5,...,3218436.00,4733977.00,2078.93,4414.86,1212.76,2023,195,2307,238640.00,1450

In [7]:
df['solo_WinRatio'].max()

100.0

In [8]:
df[df['solo_KillDeathRatio']>5].sort_values('solo_KillDeathRatio', ascending=False).head()

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
3739,ContinuousStrike,207460,100.0,85.71,12631.47,7,6,0.92,7,100.0,...,94403.11,183782.18,2578.28,2368.43,404.38,75,4,88,31836.55,227
53447,AcklesT__T,185283,88.0,85.71,26110.78,14,12,0.96,13,92.9,...,78693.52,141500.24,1458.88,2070.55,547.51,40,9,86,27930.66,213
31627,X-XRAYYY,30607,76.0,75.00,5340.95,4,3,0.50,3,75.0,...,59710.85,123688.54,1599.44,1492.77,543.00,26,6,60,34352.52,272
5122,kolbaska666,163254,49.0,80.00,9003.11,5,4,0.80,5,100.0,...,184734.01,291351.74,1222.01,2667.95,399.88,233,34,114,35659.16,238
1689,Six13,48879,48.0,66.67,4324.27,3,2,1.00,2,66.7,...,126426.47,383143.23,2844.96,1094.47,584.02,131,8,157,101306.56,732

In [9]:
df['solo_KillDeathRatio'].max()

100.0

In [10]:
df[df['solo_KillDeathRatio']==100]

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
3739,ContinuousStrike,207460,100.0,85.71,12631.47,7,6,0.92,7,100.0,...,94403.11,183782.18,2578.28,2368.43,404.38,75,4,88,31836.55,227

In [11]:
df.shape

(87898, 152)

In [12]:
x = df.shape[0]
x

87898

In [13]:
r = range(1,x)
r

range(1, 87898)

In [14]:
df.iloc[1:3]

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
2,mercedes_benz,4454,3.60,0.00,4330.44,5,0,0.00,1,20.0,...,3935265.63,5589608.74,1871.89,3011.87,725.44,1766,210,2193,292977.07,1897

In [15]:
df.iloc[1].isnull

<bound method Series.isnull of player_name                    Blackwalk
tracker_id                          8199
solo_KillDeathRatio                 4.41
solo_WinRatio                      18.18
solo_TimeSurvived                33014.9
solo_RoundsPlayed                     33
solo_Wins                              6
solo_WinTop10Ratio                  0.36
solo_Top10s                           11
solo_Top10Ratio                     33.3
solo_Losses                           27
solo_Rating                      1884.53
solo_BestRating                  1860.74
solo_DamagePg                     393.04
solo_HeadshotKillsPg                1.27
solo_HealsPg                        1.82
solo_KillsPg                        3.61
solo_MoveDistancePg              5021.41
solo_RevivesPg                         0
solo_RoadKillsPg                    0.06
solo_TeamKillsPg                       0
solo_TimeSurvivedPg              1000.45
solo_Top10sPg                       0.33
solo_Kills                           119
solo_Assists                           2
solo_Suicides                          0
solo_TeamKills                         0
solo_HeadshotKills                    42
solo_HeadshotKillRatio              0.35
solo_VehicleDestroys                   3
                                ...
squad_Top10sPg                      0.89
squad_Kills                         2201
squad_Assists                        964
squad_Suicides                         1
squad_TeamKills                        3
squad_HeadshotKills                  439
squad_HeadshotKillRatio              0.2
squad_VehicleDestroys                 44
squad_RoadKills                       22
squad_DailyKills                      84
squad_WeeklyKills                    405
squad_RoundMostKills                  14
squad_MaxKillStreaks                   5
squad_WeaponAcquired                   0
squad_Days                            44
squad_LongestTimeSurvived        2192.81
squad_MostSurvivalTime           2192.81
squad_AvgSurvivalTime            1570.51
squad_WinPoints                     4058
squad_WalkDistance           1.75587e+06
squad_RideDistance           4.29592e+06
squad_MoveDistance           6.05178e+06
squad_AvgWalkDistance            2422.48
squad_AvgRideDistance            6009.73
squad_LongestKill                 734.85
squad_Heals                         2041
squad_Revives                        276
squad_Boosts                        2340
squad_DamageDealt                 269796
squad_DBNOs                         1724
Name: 1, Length: 152, dtype: object>

# Checking Null value (takes lot of time and is inefficient) donot run

for i in r:
    if df.iloc[i].isnull==True:
        print('Empty : ', df.iloc[i])
print('Null value checked successfully')

In [16]:
df.head()

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
2,mercedes_benz,4454,3.60,0.00,4330.44,5,0,0.00,1,20.0,...,3935265.63,5589608.74,1871.89,3011.87,725.44,1766,210,2193,292977.07,1897
3,DORA,7729,14.00,50.00,13421.82,8,4,0.67,6,75.0,...,2738998.00,3796916.00,2154.62,5578.41,587.28,1214,142,1252,181106.90,1057
4,n2tstar,0,10.50,33.33,9841.04,6,2,0.40,5,83.3,...,2347295.00,3220260.00,2098.47,5642.54,546.10,1245,120,923,160029.80,1077

In [17]:
df.as_matrix()

C:\Users\Ramesh Pradhan\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  if __name__ == '__main__':

array([['BreakNeck', 4405, 3.14, ..., 1884, 242132.73, 1448],
       ['Blackwalk', 8199, 4.41, ..., 2340, 269795.75, 1724],
       ['mercedes_benz', 4454, 3.6, ..., 2193, 292977.07, 1897],
       ...,
       ['Dertydann', 178547, 1.0, ..., 95, 15939.11, 92],
       ['Neferhor', 126589, 5.1, ..., 317, 56870.07, 350],
       ['pepperedangus', 66362, 0.83, ..., 150, 19769.59, 140]],
      dtype=object)

In [18]:
pd.DataFrame(df.as_matrix()).head()

C:\Users\Ramesh Pradhan\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  if __name__ == '__main__':

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
0,BreakNeck,4405,3.14,17.65,18469.1,17,3,0.83,4,23.5,...,3.75159e+06,5.19479e+06,2626.97,4372.64,536.98,2186,234,1884,242133,1448
1,Blackwalk,8199,4.41,18.18,33014.9,33,6,0.36,11,33.3,...,4.29592e+06,6.05178e+06,2422.48,6009.73,734.85,2041,276,2340,269796,1724
2,mercedes_benz,4454,3.6,0,4330.44,5,0,0,1,20,...,3.93527e+06,5.58961e+06,1871.89,3011.87,725.44,1766,210,2193,292977,1897
3,DORA,7729,14,50,13421.8,8,4,0.67,6,75,...,2.739e+06,3.79692e+06,2154.62,5578.41,587.28,1214,142,1252,181107,1057
4,n2tstar,0,10.5,33.33,9841.04,6,2,0.4,5,83.3,...,2.3473e+06,3.22026e+06,2098.47,5642.54,546.1,1245,120,923,160030,1077

In [19]:
# df[df.isin(['NaN'])].head()

In [20]:
df.isin(['NaN']).head(2)

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
df[df['player_name'].isin(['Black','White', 'Crystal','BreakNeck'])].head(3)

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
39143,Black,11636,2.75,9.09,25873.83,22,2,0.29,7,31.8,...,208150.10,354942.60,1790.15,2538.42,199.82,146,16,146,19903.67,121

In [22]:
print('this many columns:%d ' % len(df.columns))
df.columns

this many columns:152

Index(['player_name', 'tracker_id', 'solo_KillDeathRatio', 'solo_WinRatio',
       'solo_TimeSurvived', 'solo_RoundsPlayed', 'solo_Wins',
       'solo_WinTop10Ratio', 'solo_Top10s', 'solo_Top10Ratio',
       ...
       'squad_RideDistance', 'squad_MoveDistance', 'squad_AvgWalkDistance',
       'squad_AvgRideDistance', 'squad_LongestKill', 'squad_Heals',
       'squad_Revives', 'squad_Boosts', 'squad_DamageDealt', 'squad_DBNOs'],
      dtype='object', length=152)

In [23]:
df[df['solo_WinRatio'].isnull()].head(10)

Empty DataFrame
Columns: [player_name, tracker_id, solo_KillDeathRatio, solo_WinRatio, solo_TimeSurvived, solo_RoundsPlayed, solo_Wins, solo_WinTop10Ratio, solo_Top10s, solo_Top10Ratio, solo_Losses, solo_Rating, solo_BestRating, solo_DamagePg, solo_HeadshotKillsPg, solo_HealsPg, solo_KillsPg, solo_MoveDistancePg, solo_RevivesPg, solo_RoadKillsPg, solo_TeamKillsPg, solo_TimeSurvivedPg, solo_Top10sPg, solo_Kills, solo_Assists, solo_Suicides, solo_TeamKills, solo_HeadshotKills, solo_HeadshotKillRatio, solo_VehicleDestroys, solo_RoadKills, solo_DailyKills, solo_WeeklyKills, solo_RoundMostKills, solo_MaxKillStreaks, solo_WeaponAcquired, solo_Days, solo_LongestTimeSurvived, solo_MostSurvivalTime, solo_AvgSurvivalTime, solo_WinPoints, solo_WalkDistance, solo_RideDistance, solo_MoveDistance, solo_AvgWalkDistance, solo_AvgRideDistance, solo_LongestKill, solo_Heals, solo_Revives, solo_Boosts, solo_DamageDealt, solo_DBNOs, duo_KillDeathRatio, duo_WinRatio, duo_TimeSurvived, duo_RoundsPlayed, duo_Wins, duo_WinTop10Ratio, duo_Top10s, duo_Top10Ratio, duo_Losses, duo_Rating, duo_BestRating, duo_DamagePg, duo_HeadshotKillsPg, duo_HealsPg, duo_KillsPg, duo_MoveDistancePg, duo_RevivesPg, duo_RoadKillsPg, duo_TeamKillsPg, duo_TimeSurvivedPg, duo_Top10sPg, duo_Kills, duo_Assists, duo_Suicides, duo_TeamKills, duo_HeadshotKills, duo_HeadshotKillRatio, duo_VehicleDestroys, duo_RoadKills, duo_DailyKills, duo_WeeklyKills, duo_RoundMostKills, duo_MaxKillStreaks, duo_WeaponAcquired, duo_Days, duo_LongestTimeSurvived, duo_MostSurvivalTime, duo_AvgSurvivalTime, duo_WinPoints, duo_WalkDistance, duo_RideDistance, duo_MoveDistance, duo_AvgWalkDistance, duo_AvgRideDistance, duo_LongestKill, duo_Heals, duo_Revives, duo_Boosts, ...]
Index: []

[0 rows x 152 columns]

In [24]:
len(df.columns)

152

# Lets check if any columns have null value??

In [25]:
na = df.isnull().sum().sort_values(ascending=False)
na[na>0]
#prints if columns have any null value associated

Series([], dtype: int64)

In [26]:
df.head(1)

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448

# Lets grab the columns only for Solo Play

In [27]:
solo_cols = [x for x in df.columns if ('solo' in x)]
solo_cols

['solo_KillDeathRatio',
 'solo_WinRatio',
 'solo_TimeSurvived',
 'solo_RoundsPlayed',
 'solo_Wins',
 'solo_WinTop10Ratio',
 'solo_Top10s',
 'solo_Top10Ratio',
 'solo_Losses',
 'solo_Rating',
 'solo_BestRating',
 'solo_DamagePg',
 'solo_HeadshotKillsPg',
 'solo_HealsPg',
 'solo_KillsPg',
 'solo_MoveDistancePg',
 'solo_RevivesPg',
 'solo_RoadKillsPg',
 'solo_TeamKillsPg',
 'solo_TimeSurvivedPg',
 'solo_Top10sPg',
 'solo_Kills',
 'solo_Assists',
 'solo_Suicides',
 'solo_TeamKills',
 'solo_HeadshotKills',
 'solo_HeadshotKillRatio',
 'solo_VehicleDestroys',
 'solo_RoadKills',
 'solo_DailyKills',
 'solo_WeeklyKills',
 'solo_RoundMostKills',
 'solo_MaxKillStreaks',
 'solo_WeaponAcquired',
 'solo_Days',
 'solo_LongestTimeSurvived',
 'solo_MostSurvivalTime',
 'solo_AvgSurvivalTime',
 'solo_WinPoints',
 'solo_WalkDistance',
 'solo_RideDistance',
 'solo_MoveDistance',
 'solo_AvgWalkDistance',
 'solo_AvgRideDistance',
 'solo_LongestKill',
 'solo_Heals',
 'solo_Revives',
 'solo_Boosts',
 'solo_DamageDealt',
 'solo_DBNOs']

solo_df = [df[solo_cols] for x in solo_cols] <br>
solo_df <br> <b> Do not run this cell. This code will only create dictionary</b>

# <div style="border: 3px dashed lime; padding: 20px; margin-bottom: 20px;">Create separate DataFrame as 'solo_df' for Solo Play</div>

In [28]:
solo_df = df[solo_cols]
solo_df.head(2)

,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,solo_Losses,solo_Rating,...,solo_RideDistance,solo_MoveDistance,solo_AvgWalkDistance,solo_AvgRideDistance,solo_LongestKill,solo_Heals,solo_Revives,solo_Boosts,solo_DamageDealt,solo_DBNOs
0,3.14,17.65,18469.14,17,3,0.83,4,23.5,14,1559.78,...,27537.53,56461.84,2202.40,2764.50,304.87,33,0,29,4341.06,0
1,4.41,18.18,33014.86,33,6,0.36,11,33.3,27,1884.53,...,117837.74,165706.51,2017.38,5188.69,351.95,60,0,88,12970.39,0

# We donot have player_name and tracker_id columns
**Lets concate them all**

In [29]:
player_name = pd.DataFrame(df['player_name'])
player_name.head()

     player_name
0      BreakNeck
1      Blackwalk
2  mercedes_benz
3           DORA
4        n2tstar

In [30]:
tracker_id = pd.DataFrame(df['tracker_id'])
tracker_id.head()

   tracker_id
0        4405
1        8199
2        4454
3        7729
4           0

In [31]:
solo_cat = [player_name, tracker_id, solo_df]
solo_df = pd.concat(solo_cat, sort=False, axis=1)
solo_df.head(2)

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,solo_RideDistance,solo_MoveDistance,solo_AvgWalkDistance,solo_AvgRideDistance,solo_LongestKill,solo_Heals,solo_Revives,solo_Boosts,solo_DamageDealt,solo_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,27537.53,56461.84,2202.40,2764.50,304.87,33,0,29,4341.06,0
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,117837.74,165706.51,2017.38,5188.69,351.95,60,0,88,12970.39,0

## <div style="border: 3px dashed lime; padding: 20px; margin-bottom: 20px;">Similarly lets create separate DataFrame as 'duo_df' & 'squad_df' for Solo Play</div>

In [32]:
duo_cols = [x for x in df.columns if ('duo' in x)]
squad_cols = [x for x in df.columns if ('squad' in x)]
duo_df = df[duo_cols]
squad_df = df[squad_cols]

In [33]:
duo_df.head(2)

,duo_KillDeathRatio,duo_WinRatio,duo_TimeSurvived,duo_RoundsPlayed,duo_Wins,duo_WinTop10Ratio,duo_Top10s,duo_Top10Ratio,duo_Losses,duo_Rating,...,duo_RideDistance,duo_MoveDistance,duo_AvgWalkDistance,duo_AvgRideDistance,duo_LongestKill,duo_Heals,duo_Revives,duo_Boosts,duo_DamageDealt,duo_DBNOs
0,6.50,33.33,21913.81,15,5,0.25,10,66.7,10,2054.70,...,65204.77,95809.08,1252.45,4744.35,401.45,35,2,43,8544.07,40
1,4.56,35.71,17765.43,14,5,0.36,7,50.0,9,2097.88,...,66933.08,96162.39,1483.98,4109.21,182.84,27,2,43,4744.32,23

In [34]:
duo_cat = [player_name, tracker_id, duo_df]
duo_df = pd.concat(duo_cat, sort=False, axis=1)
duo_df.head(2)

,player_name,tracker_id,duo_KillDeathRatio,duo_WinRatio,duo_TimeSurvived,duo_RoundsPlayed,duo_Wins,duo_WinTop10Ratio,duo_Top10s,duo_Top10Ratio,...,duo_RideDistance,duo_MoveDistance,duo_AvgWalkDistance,duo_AvgRideDistance,duo_LongestKill,duo_Heals,duo_Revives,duo_Boosts,duo_DamageDealt,duo_DBNOs
0,BreakNeck,4405,6.50,33.33,21913.81,15,5,0.25,10,66.7,...,65204.77,95809.08,1252.45,4744.35,401.45,35,2,43,8544.07,40
1,Blackwalk,8199,4.56,35.71,17765.43,14,5,0.36,7,50.0,...,66933.08,96162.39,1483.98,4109.21,182.84,27,2,43,4744.32,23

In [35]:
squad_df.head(2)

,squad_KillDeathRatio,squad_WinRatio,squad_TimeSurvived,squad_RoundsPlayed,squad_Wins,squad_WinTop10Ratio,squad_Top10s,squad_Top10Ratio,squad_Losses,squad_Rating,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,5.45,47.51,1064406.38,642,305,0.29,583,90.8,337,3212.25,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,5.73,46.81,1176986.52,722,338,0.58,640,88.6,384,3156.94,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724

In [36]:
squad_cat = [player_name, tracker_id, duo_df]
squad_df = pd.concat(squad_cat, sort=False, axis=1)
squad_df.head(2)

,player_name,tracker_id,player_name,tracker_id,duo_KillDeathRatio,duo_WinRatio,duo_TimeSurvived,duo_RoundsPlayed,duo_Wins,duo_WinTop10Ratio,...,duo_RideDistance,duo_MoveDistance,duo_AvgWalkDistance,duo_AvgRideDistance,duo_LongestKill,duo_Heals,duo_Revives,duo_Boosts,duo_DamageDealt,duo_DBNOs
0,BreakNeck,4405,BreakNeck,4405,6.50,33.33,21913.81,15,5,0.25,...,65204.77,95809.08,1252.45,4744.35,401.45,35,2,43,8544.07,40
1,Blackwalk,8199,Blackwalk,8199,4.56,35.71,17765.43,14,5,0.36,...,66933.08,96162.39,1483.98,4109.21,182.84,27,2,43,4744.32,23

In [37]:
len(squad_df.columns)

54

### We have now 50 + 50 + 50 columns for each solo_df, duo_df and squad_df and remaining 2 columns i.e player_name and tracker id

In [38]:
len(df.columns)

152

In [39]:
a = np.random.randn(3, 3)
b = np.random.randn(3, 1)
c = a*b

In [40]:
c.shape

(3, 3)

In [41]:
print(c)

[[ 0.11668747 -0.03437307  0.09103135]
 [ 0.10367602 -0.00623841 -0.06447845]
 [ 1.06984561  2.65569064 -0.11527002]]

In [42]:
a

array([[-1.23566456,  0.36399436, -0.96397848],
       [ 1.14159176, -0.06869208, -0.70998156],
       [ 0.69242147,  1.71880614, -0.07460463]])

In [43]:
b

array([[-0.09443297],
       [ 0.09081707],
       [ 1.54507863]])

In [44]:
a = np.random.randn(4, 3) # a.shape = (4, 3)
b = np.random.randn(3, 2) # b.shape = (3, 2)
c = a*b

ValueError: operands could not be broadcast together with shapes (4,3) (3,2)

In [ ]:
a= np.random.randn(3,4)
b= np.random.randn(4,1)

print (a,'\n')
print (b)

In [ ]:
for i in range(3):
    for j in range(4):
        c[i][j] = a[i][j] + b[j]

In [ ]:
c = a + b.T
print(c)

In [ ]:
c = a + b
print(c)

In [ ]:
c = a.T + b
print(c)

In [ ]:
c = a.T + b.T
print(c)

In [ ]:
a = np.random.randn(3, 3)
b = np.random.randn(3, 1)
c = a*b
print(c)

In [ ]:
import numpy as np
import h5py
    
    
def load_dataset():
    train_dataset = h5py.File('datasets/train_catvnoncat.h5', "r")
    train_set_x_orig = np.array(train_dataset["train_set_x"][:]) # your train set features
    train_set_y_orig = np.array(train_dataset["train_set_y"][:]) # your train set labels

    test_dataset = h5py.File('datasets/test_catvnoncat.h5', "r")
    test_set_x_orig = np.array(test_dataset["test_set_x"][:]) # your test set features
    test_set_y_orig = np.array(test_dataset["test_set_y"][:]) # your test set labels

    classes = np.array(test_dataset["list_classes"][:]) # the list of classes
    
    train_set_y_orig = train_set_y_orig.reshape((1, train_set_y_orig.shape[0]))
    test_set_y_orig = test_set_y_orig.reshape((1, test_set_y_orig.shape[0]))
    
    return train_set_x_orig, train_set_y_orig, test_set_x_orig, test_set_y_orig, classes

In [ ]:
import Python_DHT