In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
df = pd.read_json('db_recommend.json')
df

,comment,data,database,name,type,version
0,Export to JSON plugin for PHPMyAdmin,NaN,NaN,NaN,header,4.8.2
1,NaN,NaN,NaN,db_recommend,database,NaN
2,NaN,"[{'uid': '8', 'firstname': 'ramesh', 'middlena...",db_recommend,tbl_admin_register,table,NaN
3,NaN,"[{'bid': '86', 'uid': '14', 'pid': '1', 'ratin...",db_recommend,tbl_bought,table,NaN
4,NaN,"[{'cid': '1', 'cname': 'Instrument Calibration...",db_recommend,tbl_category,table,NaN
5,NaN,"[{'pid': '1', 'pname': 'dell inspiron 57 i3 2g...",db_recommend,tbl_product,table,NaN
6,NaN,"[{'uid': '1', 'firstname': 'ramesh', 'middlena...",db_recommend,tbl_user_register,table,NaN

In [11]:
df['data'].dropna(inplace=True)

In [13]:
df['data']

2    [{'uid': '8', 'firstname': 'ramesh', 'middlena...
3    [{'bid': '86', 'uid': '14', 'pid': '1', 'ratin...
4    [{'cid': '1', 'cname': 'Instrument Calibration...
5    [{'pid': '1', 'pname': 'dell inspiron 57 i3 2g...
6    [{'uid': '1', 'firstname': 'ramesh', 'middlena...
Name: data, dtype: object

In [16]:
pd.DataFrame(df['data'][2])

,email,firstname,lastname,middlename,password,uid,username
0,ramesh@gmail.com,ramesh,pradhan,None,ramesh,8,ramesh
1,bhuwan@gmail.com,bhuwan,pandeya,raj,bhuwan,9,bhuwan
2,subodhthakur@gmail.com,subodh,thakur,,subodh,10,subodhthakur
3,bijeshjungbasent@gmail.com,bijesh,basnet,jung,bijesh,11,bijeshjungbasne
4,human@gmail.com,human,being,None,human,12,human
5,normal@gmail.com,normal,normal,None,normal,13,normal
6,admin@gmail.com,admin,admin,,admin,14,admin

In [17]:
pd.DataFrame(df['data'][3])

  bid pid rating uid
0  86   1      5  14
1  87   2      4  14
2  88   3      1  14
3  89   1      5  15
4  90   2      4  15
5  91   3      1  15
6  92   5      5  15

In [18]:
pd.DataFrame(df['data'][4])

     cid                                              cname
0      1                Instrument Calibration & Adjustment
1      2               Computer PCI Cards, Cables & Modules
2      3           Light Bulb, Lamp & Lighting Fixtures\r\n
3      4                 Electric Motors and Components\r\n
4      5                     Headphones and Microphones\r\n
5      6              Electrical and Electronic Gadgets\r\n
6      7           Instrumentation & Control Equipments\r\n
7      8           Optical, Laser Instruments & Devices\r\n
8      9           Heater, Thermostat & Heating Devices\r\n
9     10           Fuses, Circuit Breakers & Components\r\n
10    11                Instrument Calibration & Adjustment
11    12               Computer PCI Cards, Cables & Modules
12    13           Light Bulb, Lamp & Lighting Fixtures\r\n
13    14                 Electric Motors and Components\r\n
14    17           Instrumentation & Control Equipments\r\n
15    18           Optical, Laser Instruments & Devices\r\n
16    19           Heater, Thermostat & Heating Devices\r\n
17    20           Fuses, Circuit Breakers & Components\r\n
18    24            Laptops, PC, Mainframes & Computers\r\n
19    25  Street, Flood and Commercial Lights Xerox Mach...
20    27  Automobile Electrical Components Network Video...
21    28  Diodes & Electronic Active Devices Biometric S...
22    29                 Cables & Wiring Components Diodes
23    30    Mobile Phone & Accessories Transformer Testing
24    31              PCB Modules and Circuit Boards Wires
25    32  Domestic Water Purifiers & Filters Stainless S...
26    33     Adhesive & Pressure Sensitive Tapes Headphone
27    34     Security & Inspection Devices Digital Display
28    35  Electrical & Electronic Goods Repair Earthing ...
29    36   Biometrics & Access Control Devices Smart Phone
..   ...                                                ...
266  273                                 Ceiling OT Lights
267  274                              Automotive Batteries
268  275                                  Cable Assemblies
269  276                                Car Parking System
270  277                                      LED Displays
271  278                                         Inverters
272  279                              Current Transformers
273  280                                           Laptops
274  281                          Operation Theatre Lights
275  282                                      Motherboards
276  283                                        Tube Light
277  284                   Reverse Osmosis Water Purifiers
278  285                                        BOPP Tapes
279  286                             Industrial Air Cooler
280  287                             Laser Distance Meters
281  288                       Automotive Electrical Parts
282  289                                      Music Player
283  290                                     Mixer Grinder
284  291                              LED Decorative Light
285  292                            Electronic Locker Safe
286  293                             Electrical Components
287  294                            Public Address Systems
288  295                         Video Conferencing System
289  296                                    Electric Irons
290  297                                Computer Processor
291  298                                    Safety Helmets
292  299                                    Mobile Charger
293  300                               External Hard Drive
294  301                                      Solar Panels
295  302                                airport suppliances

[296 rows x 2 columns]